
<div class="w-full">
  <div class="p-8">
    <div class="mb-8">
      <h1 class="text-3xl font-bold underline">Add my basketball team</h1>
    </div>
    <%= form_with(model: @team, url: "/teams") do |form| %>
    <div class="w-full max-w-sm">
      <div class="mb-6" data-testid="field-name">
        <div class="">
            <%= form.label :name,
            class: "block text-gray-500 font-bold mb-1 pr-4" %>
        </div>
        <div class="">
            <%= form.text_field :name,
               class:"bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
        </div>
      </div>
      <div class="mb-6" data-testid="field-url">
        <div class="">
          <%= form.label :url,
          class: "block text-gray-500 font-bold mb-1 pr-4" %>
        </div>
        <div>
          <div
            data-controller="react"
            data-value="<%= @team.url %>"
            data-path="<%= is_url_unique_teams_path %>"
            data-component="input"
            data-type="url"
            data-name="team[url]"
            data-id="team_url"
          />
        </div>
      </div>

      <div>
        <div class="mt-8">
          <%= form.submit "Add", class:"shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" %>
        </div>
      </div>
        <% end %>
    </div>
<div class="w-full mt-8">
  <h2 class="text-2xl font-bold underline">List of teams</h2>
  <div>
    <%# use safe nativgation &. below added so only call empty of teams exists %>
      <ul data-testid="teams-list">
    <% if @teams&.present? %>
      <% @teams.each do |team| %>
        <div class="max-w-sm rounded overflow-hidden" data-testid="team" >
          <div class="px-6 py-4">
            <li class="font-bold text-xl mb-2 list-none" >
              <%= team.name %>
            </li>
          </div>
        </div>
      </ul>
      <% end %>
      <% else %>
      <p>add a team!</p>
      <% end %>
  </div>
</div>
