<h1>Add my basketball team</h1>
<%= form_with url: "/teams" do |form| %>
  <div>
    <%= form.label :team_name, :Name, style: "display: block" %>
    <%= form.text_field :name, :id => 'team_name', :name => 'team[name]' %>
  </div>
  <div>
  <%= form.label :team_url, :Url, style: "display: block" %>
    <%= form.text_field :team_url, :id => 'team_url', :type => 'url', :name => 'team[url]' %>
  </div>

  <%= form.submit "Add" %>
<% end %>

<ul data-testid="teams-list">
  <%# use safe nativgation &. below added so only call empty of teams exists %>
  <% if @teams&.present? %>
    <% @teams.each do |team| %>
      <li data-testid="team">
        <%= team.name %>
      </li>
    <% end %>
  <% else %>
    <p>add a team!</p>
  <% end %>
</ul>
